body, html {
  height: 100%;
}

body {
  margin: 0;
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #root {
  background-color: darkslategray;
} */

#nav-container {
  display: flex;
  flex-direction: column;
}


.project-card {
  width: 350px;
}

.card {
  transition: 0.3s;
}

.card:hover {
  box-shadow: none !important;
  margin: 0.5em;
}

.card-text {
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

.card-title {
  font-size: 3rem !important;
  text-decoration: underline;
  font-family:'Courier New', Courier, monospace;
}

.letter-spacing {
  letter-spacing: 3px;
}

.text-container {
  left:50;
}
.about-bg-img {
  background-image: url("https://images.pexels.com/photos/2426085/pexels-photo-2426085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



input:focus, input:active, input:active:focus, .form-control {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  transition: 0.2s !important;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn:hover {
  box-shadow: 2px 2px 5px gray;
  letter-spacing: 1.1px;
}

.contact-link {
  color: black;
}

.contact-link:hover {
  text-decoration: none;
  color: rgb(51, 52, 53);
}

.modal-body {
  background-color: #212529;
  margin: auto;
}


@media only screen and (max-width: 600px) {
  .card-row {
    flex-direction: column;
  }
  .responsive-iframe {
    width: 320px;
    height: 240px;
  }

  .modal-body {
    margin: 0;
  }

  .responsive-iframe {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .animal-card {
    display: flex;
    flex-direction: column;
  }

  #contact-form {
    display: flex;
    flex-direction: column;
  }





  /* .modal-viewport {
    background-color: #212529 !important;
    border: none !important;
  } */
  
}